/* Animation code extracted from bomainvite.com/maket12 (Canva export) */

/* ===== 9 @keyframes definitions ===== */

@keyframes rGEq3g{
  0%{
  transform:rotate(0deg)
}
to{
  transform:rotate(1turn)
}

}

@keyframes Z2_CQA{
  0%{
  background-position:100% 0
}
75%{
  background-position:0 0
}
to{
  background-position:0 0
}

}

@keyframes c2cyRQ{
  0%{
  opacity:.07
}
25%{
  opacity:.05
}
50%{
  opacity:.07
}
to{
  opacity:.07
}

}

@keyframes _5Wn9Ig{
  to{
  opacity:1
}

}

@keyframes _5bz7wQ{
  0%{
  opacity:var(--Xj4qXA)
}
25%{
  opacity:var(--CAzrpw)
}
50%{
  opacity:var(--Xj4qXA)
}
to{
  opacity:var(--Xj4qXA)
}

}

@keyframes eT6GTQ{
  0%{
  transform:rotate(0deg)
}
to{
  transform:rotate(1turn)
}

}

@keyframes _2Kspyw{
  0%{
  opacity:0;
  transform:scale(.75)
}
to{
  opacity:1;
  transform:scale(1)
}

}

@keyframes PWhc8A{
  0%{
  transform:scale(.85)
}
20%{
  transform:scale(.85)
}
35%{
  transform:scale(1)
}
80%{
  transform:scale(1)
}
to{
  transform:scale(.85)
}

}

@keyframes _40LOaA{
  0%{
  opacity:0;
  transform:scale(0)
}
15%{
  opacity:1;
  transform:scale(0)
}
60%{
  opacity:0;
  transform:scale(2)
}
to{
  opacity:0;
  transform:scale(0)
}

}


/* ===== rules using animation (9) ===== */

.t3kxSg{animation:rGEq3g .5s linear infinite}

._3FvZZg._7rp7PQ{animation:Z2_CQA var(--cXQfZQ,2.5s) ease-out var(--3L6ugg,1s) infinite;background-image:linear-gradient(90deg,#ffffff00 0,#ffffff00 25%,var(--FgZnBg) 45%,var(--FgZnBg) 50%,var(--FgZnBg) 55%,#ffffff00 75%,#ffffff00 100%);background-position:100% 0;background-repeat:no-repeat;background-size:400% 100%}

.a8K2Rw{animation:c2cyRQ 1.4s infinite}

.E2PFKw{animation-fill-mode:forwards;animation-name:_5Wn9Ig;opacity:0}

._qImYg{animation:_5bz7wQ 1.4s infinite}

.eyDYeQ.uDupQw{animation:eT6GTQ .6s linear infinite}

.nGNIwg ._3qHlHA.RnXUFA .iMfKLQ{animation:_2Kspyw .2s cubic-bezier(0,0,.13,1) both;animation-delay:.2s}

._37YESw.a5gazg{animation:PWhc8A 2s ease-in-out infinite;transform-origin:50% 50%}

._37YESw.a5gazg:before{animation:_40LOaA 2s infinite;border-radius:inherit;content:"";height:100%;position:absolute;right:0;transform-origin:50% 50%;width:100%}

